.logging {
    background: orange;
    color : white;
    width: 100%px;
    padding-left: 73px;
    padding-right: 495px;
    padding-bottom: 1em;
}
.body {
    margin-top: 5em ;
    font-size: 19px;
    width: 174%;
}
.logging p {
    margin-top: 2em;
    width: 212px;
}
.logging form {
    margin-top: 5em;
    padding-bottom: 20px;
}
.logging textarea {
    margin-top: 10px;
}

.logging button {
    background: rgb(125, 88, 18);
    color: white;
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
}
