.option {
    background: rgb(0, 157, 255);
    display: flex;
}
.option h3 {
    color: white;
    padding: 10px;
}
.option combobox {
    color: white;
    padding: 10px;
    margin: 20px;
    display: flex;
}
.option button {
    background: rgb(0, 157, 255);
    color: white;
    padding: 10px;
    margin: 10px;
    font-size: 12px;  
    width: 77px
}
.option section {
    display: flex;
    margin: 50px;
}