.option {
    background: rgb(0, 157, 255);
    display: flex;
    padding-right: 20px;
    width: 100%;
}
.option h3 {
    color: white;
    padding: 10px;
    display: flex;
    margin-right: 44px;
}
.option button {
    background: rgb(0, 42, 255);
    color: white;
    padding: 7px;
    margin-top: 26px;
    margin-left: 44px;
    font-size: 12px;
    width: 74px;
}
.imagen{
    width: 10%;
    size: 12px;
    margin-top: 107px;
    margin-left: 42px;
}